p
  margin: 28px 0 4px 0 !important
  font-size: 1.05rem 
  line-height: 32px

h1
  margin: 12px 0 0 0  !important

.content h2
  font-size: 1.8rem
  cursor pointer
  border-bottom: 1px solid #DDDDDD
  margin-top: 64px !important
  padding: 0 0 8px 6px !important
  transition: all 0.3s
  &:hover {
    color: $accentColor
  }

.content h3
  margin-top: 48px !important
  padding-top: 0 !important

.content h4
  margin-top: 16px !important
  padding-top: 0 !important

.sidebar-link
  font-weight: 500 !important

.active
  font-weight: 900 !important