.content p
  margin: 20px 0 32px 0
  font-size: 1.05rem 
  line-height: 32px

td
  font-size: 1.05rem

.tip
  padding: 0.5rem 1.5rem !important
  p
    margin: 4px 0 !important
    font-size: 1.05rem 
    line-height: 32px
  .custom-block-title
    font-size: 1.2rem

li
  font-size: 1.05rem 
  line-height: 32px

h1
  margin: 12px 0 0 0  !important

strong
  cursor: default
  transition: all 1s
  &:hover {
    font-weight: 900px;
    font-size: 1.055rem
    color: $accentColor
  }

.content h2
  font-size: 1.8rem
  cursor: default
  border-bottom: 1px solid #DDDDDD
  margin-top: 64px !important
  padding: 0 0 8px 6px !important
  transition: all 0.3s
  &:hover {
    color: $accentColor
  }

.content h3
  margin-top: 48px !important
  padding-top: 0 !important

.content h4
  margin-top: 16px !important
  padding-top: 0 !important

.sidebar-link
  font-weight: 500 !important

.active
  font-weight: 900 !important